<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Update Password</title>
	<link rel="stylesheet" href="static/css/bootstrap.css">

    <style>
        
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary  navbar-light bg-dark ">
		<div >
		  
		  <div class="" id="navbarNav">
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link active text-info" aria-current="page" href="/facultyhome">Home</a>
				  </li>
			  <li class="nav-item">
				<a class="nav-link active text-info" aria-current="page" href="/facultyprofile"> Profile</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-info" href="/facultylogout">logout</a>
			  </li>
			
			</ul>
		  </div>
		</div>
	  </nav>
    <form action="/facultyupdatepwd" method="POST">
		<div class="container mt-5">
			<div class="row justify-content-center">
			  <div class="col-md-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title text-center mb-4">Update Password</h5>
		
					<form method="POST" action="/facultyupdatepwd">
					  <div class="mb-3">
						<label for="staff_id" class="form-label">Staff ID</label>
						<input type="text" class="form-control" id="staff_id" name="staff_id" placeholder="Enter Staff ID" required>
					  </div>
		
					  <div class="mb-3">
						<label for="password" class="form-label">New Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Enter a new password" required>
					  </div>
		
					  <div class="d-grid">
						<button type="submit" class="btn btn-primary">Update</button>
					  </div>
					</form>
		
				  </div>
				</div>
			  </div>
			</div>
		  </div>

    </form>
</body>
</html>
