<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <style>
        body{
            background-image: url("static/images/rgm2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        } 
        a{
            text-decoration: none;
        }
        a:hover{
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>Welcome to  RGMCET</h1>
        <button class="btn btn-outline-primary" > <a href="/adminlogin">Admin Login</a></button>
        <button class="btn btn-outline-primary" > <a href="/stdlogin">Student Login</a></button>
        <button class="btn btn-outline-primary" > <a href="/facultylogin">Faculty Login</a></button>
    </center>
    
</body>
</html>
